* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardsCont {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.cardProd {
    width: 250px;
    height: 400px;
    border: transparent solid 1px;
    border-radius: 15px;
}
img {
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 15px 15px 0 0;
    border: white 1px solid;
}
.imgCardCont {
    position: relative;
}
.priceCardCont {
    /* position: relative; */
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    object-fit: cover;
}
.priceCont {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bi {
    display: none;
    color: white;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
    text-align: end;
}
.bi:hover {
    cursor: pointer;
    color: red;
}
.cardProd:hover {
    cursor: pointer;
    border: red 1px solid;
    .bi {
        display: block;
    }
}
.offCanvasCont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cardProdOffCanvas {
    width: 50%;
}